<% if user.errors.any? %>
		  	<h2><%= user.errors.count %>error occurence</h2>
		  	<ul>
		  		<% user.errors.full_messages.each do |message| %>
		  		  <li><%= message %></li>
		  		<% end %>
		  	</ul>
<% end %>