  <div class="container">
    <div class="row">
    <div class="col-xs-3">
      <%= flash[:notice] %>
<%= render 'info', user: @user %>
<%= render 'books/form', book: @book %>
</div>
<%= render 'table', users: @users %>
</div>
</div>