<h1>UserRooms#index</h1>
<p>Find me in app/views/user_rooms/index.html.erb</p>
<div id="message">
  <%= render 'form'user: @user,room: @room %>
</div>

<% @chats.each do |chat| %>
  <%= chat.user.name%>
  <%= chat.message %>
<% end %>