<h2>Books</h2>
		    <table class="table">
		        <tr>
			    	<th>image</th>
				    <th>Title</th>
				    <th>Opinion</th>
			    </tr>
			    <% books.each do |f| %>
			     <tr>
			    	<td>
						<%= link_to user_path(f.user)do %>
						<% attachment_image_tag(f.user, :profile_image,format: 'jpeg', fallback: "no_image.jpg", size: "40x40") %>
						<% end %>

						</td>
				    <td><%= link_to f.title, book_path(f) %></td>
				    <td><%= f.body %></td>
			    </tr>
			    <% end %>
			</table>
			<div style="text-align: center;">
				<% if params[:model] != "book" %>
			<%= paginate books, class: "pagenate" %>
			<% end %>
		</div>