<%= render 'error',book: @book %>
<div class="container">
<h1>Editing Book</h1>
<%= render 'form',book: @book %>
	    <div>
			<%= link_to "Show", book_path(@book) %><br>
			<%= link_to "Back", books_path %>
				</div>

</div>