<h1>Books#show</h1>
<div class="container">
		<div class="row">
		<div class="col-xs-3">
		<div>
		 <%= flash[:notice] %>
	</div>
<%= render 'users/info', user: @mybook.user %>
<%= render 'form', book: @book %>
</div>

	<%= render 'tables', mybook: @mybook,user: @user %>

</div>