<h1>search#index</h1>
	<div class="container">
		<div class="row">
			<div class="col-xs-3"></div>
			<div class="col-xs-9">
				<% if params[:model] == "user" %>
					<%= render 'users/table',users: @users %>
				<% else %>
					<%= render 'books/table',books: @books %>
				<% end %>
	    	</div>
		</div>
	</div>
